#chart {
		  position: fixed;
		  top: 0px;
		  left: 0px;
		  width:500px;
		  height:500px;
		  display:block;
		  /*border-radius: 25px;

          border: 2px solid #73AD21;
          padding:5px;
          overflow: auto;*/
}	

#pop{
    border-style: solid;

  border-color: black;
  border-radius: 10px;
  background-color: white;
  width: 30%;
  display: none;


}